// /src/assets/styles/variables.scss

// Cores primárias e secundárias
$primary-color: #007bff; // Azul padrão Bootstrap
$secondary-color: #6c757d; // Cinza padrão Bootstrap

// Cores de alerta e feedback
$success-color: #28a745; // Verde de sucesso
$danger-color: #dc3545; // Vermelho de erro
$warning-color: #ffc107; // Amarelo de alerta
$info-color: #17a2b8; // Azul claro de informação

// Cores neutras
$light-color: #f8f9fa; // Cinza bem claro
$dark-color: #343a40; // Cinza escuro

// Cores de fundo e texto
$background-color: #f0f2f5; // Cor de fundo geral
$text-color: #212529; // Cor do texto

// Cores complementares
$accent-color: #ff5722; // Cor de destaque (um laranja forte)
$link-color: #1e90ff; // Cor dos links


$font-family-base: 'Arial, sans-serif';
$font-family-logo: 'Showcard Gothic';